/* Bootstrap Styling */
/* Navigation Bar */
.navbar {
    /* Custom styling for the navigation bar */
    padding-left: 40px;
    padding-right:40px;
}

/* Custom CSS */
/* Flex Container */
.flex-container {
    /* Flex container styling */
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

/* Flex Items */
.flex-item >img{
    /* Styling for flex items */
    width:300px;
    height: 200px;
    object-fit: cover;

}

/* CSS for Photo Gallery */
/* Grid Container */
.grid-container {
    /* Grid container styling */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
   grid-gap:10px;
    margin-top:50px;
}
.gird-item-1{
   
}
.gird-item-9>img{
   grid-column:span 2;
}
.grid-container img{
    /* Responsive image styles */
    width:300px;
    height: 200px;
    text-align: center;
    object-fit: cover;
}

/* Additional styling for hover effect on cards' CTA buttons */
.card-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.card .btn:hover {
    /* Add your hover effect styles here */
}
footer{
    margin-top: 50px;
}
